[Desktop Entry]
Type=Application
Name=ELPX Translator Desktop
Comment=Traducir proyectos .elpx localmente
Comment[es]=Traducir proyectos .elpx localmente
Comment[ca]=Traduir projectes .elpx localment
Comment[en]=Translate .elpx projects locally
Exec=elpx-translator-desktop
Icon=elpx-translator-desktop
Terminal=false
Categories=Education;Utility;
