[Desktop Entry]
Type=Application
Name=ELPX Translator Desktop
Comment=Traducir proyectos .elpx en local o con tu propia API
Comment[es]=Traducir proyectos .elpx en local o con tu propia API
Comment[ca]=Traduir projectes .elpx en local o amb la teva API
Comment[en]=Translate .elpx projects locally or with your own API
Exec=elpx-translator-desktop
Icon=elpx-translator-desktop
Terminal=false
Categories=Education;Utility;
